In [1]:
import pandas as pd
import numpy as np

## Objective

For the purpose of this analysis, I will attempt to measure the sentiment of tweets to learn whether tweets impact the number of Covid-19 cases and deaths in the United States. This study is important as the reopening of our society, from going to get an ice cream cone to being able to earn a living, hinges on our ability to lower the rate of infection in our country. With so many individuals receiving their news and information through social media, being able to predict how COVID cases will either increase or decrease based on tweets can inform public policy. Should we be able to predict the future number of COVID cases based on the text of tweets; public officials, business leaders and concerned citizens can alter their tweeting practices to promote improved COVID outcomes.

To create the dataset, I utilized the TWINT library to collect all tweets from January 1,2020 until July 10th. I then made various subsets of the tweets. For example, to measure the impact of tweets by public leaders viewed as polar opposites regarding their response to the pandemic, I collected tweets by President Trump and the Governor of New York, Andrew Cuomo. Another subset of tweets that I labeled as baseline consists of tweets by the New York Times and Washington Post - two of America's leading journalism outlets.

The purpose of creating these subsets is that the baseline tweets can be considered to be those that communicate mainly fact. While they might have op-ed columnists, we can assume that most tweets from the news reporting divisions will provide factual updates on the Covid response. By considering the two polar opposites, Trump and Cuomo, we can measure Covid outcomes, in terms of cases, after the tweets have been consumed by the public. Finally, the main Covid collection will allow us to see whether more individuals subscribed to the Trump/Cuomo tweets and how Covid cases changed, for the positive or negative, in their region.

## Obtaining Data

For the notebooks that contain the queries for the tweets gathered on TWINT, please refer to the Covid Data Queries notebook in the repo. The JSON files for these queries were used to create DataFrames.

In [2]:
#All Covid tweets
All_Covid_tweets = pd.read_json('Covid_tweets3.json',lines=True)

#All Trump tweets
Trump_Covid_tweets = pd.read_json('Trump_Covid_tweets3.json', lines=True)

#All Cuomo tweets
Cuomo_Covid_tweets = pd.read_json('Cuomo_Covid_tweets3.json',lines=True)

#Baseline Tweets
NYTimes_tweets = pd.read_json('Nytimes_Covid_tweets3.json',lines=True)
#print( len(NYTimes_tweets))
WashingtonPost_tweets = pd.read_json('Washpost_tweets3.json',lines=True)
#print( len(Washpost_tweets3.json))

#combining NYTimes and Washington Post to get Baseline Tweets
Baseline_tweets = pd.concat([NYTimes_tweets,WashingtonPost_tweets],axis=0)

#Reformatting Date columns for later merge
All_Covid_tweets['Date'] = All_Covid_tweets['date']
Trump_Covid_tweets['Date'] = Trump_Covid_tweets['date']
Cuomo_Covid_tweets['Date'] = Cuomo_Covid_tweets['date']
Baseline_tweets['Date'] = Baseline_tweets['date']

Data for Covid Cases and Deaths was collected from The COVID Tracking Project.

In [3]:
# Covid data set

covid_cases = pd.read_csv('time_series_covid_19_confirmed.csv')

#Getting US data - confirmed cases
covid_cases = covid_cases[covid_cases['Country/Region'] == 'US']
#covid_cases = covid_cases.transpose()

# Covid death data set

covid_deaths = pd.read_csv('time_series_covid_19_deaths.csv')


#Getting US data - confirmed cases

#covid_deaths = covid_deaths.transpose()
covid_deaths = covid_deaths[covid_deaths['Country/Region'] == 'US']

In [4]:
#Covid cases and deaths (still need to rename columns, from left to right = cases then deaths)
covid_data = pd.concat([covid_cases,covid_deaths],axis=0)
covid_data = covid_data.transpose()

In [5]:
covid_data = covid_data.drop(['Province/State','Country/Region','Lat','Long'])

In [6]:
covid_data.head()

        225 225
1/22/20   1   0
1/23/20   1   0
1/24/20   2   0
1/25/20   2   0
1/26/20   5   0

### Adding Case/Death Data on Day of the Tweet

In [7]:
#Edited column names in Excel for Merge
covid_data_formatted = pd.read_excel('covid_data_date.xlsx')
covid_data_formatted.head()

      Date  Cases  Deaths
0  1/22/20      1       0
1  1/23/20      1       0
2  1/24/20      2       0
3  1/25/20      2       0
4  1/26/20      5       0

In [8]:
#Converting all Date columns to datetime for Merge
covid_data_formatted['Date'] = pd.to_datetime(covid_data_formatted['Date'])
All_Covid_tweets['Date'] = pd.to_datetime(All_Covid_tweets['Date'])
Trump_Covid_tweets['Date'] = pd.to_datetime(Trump_Covid_tweets['Date'])
Cuomo_Covid_tweets['Date'] = pd.to_datetime(Cuomo_Covid_tweets['Date'])
Baseline_tweets['Date'] = pd.to_datetime(Baseline_tweets['Date'])

In [9]:
#All Tweet Data with corresponding case/death information
All_Covid_tweets_case_data = pd.merge(All_Covid_tweets,covid_data_formatted,on='Date')
#Trump Tweet Data with corresponding case/death information
Trump_Covid_tweets_case_data = pd.merge(Trump_Covid_tweets,covid_data_formatted,on='Date')
#Cuomo Tweet Data with corresponding case/death information
Cuomo_Covid_tweets_case_data = pd.merge(Cuomo_Covid_tweets,covid_data_formatted, on='Date')
#Baseline Tweet Data with corresponding case/death information
Baseline_tweets_case_data = pd.merge(Baseline_tweets,covid_data_formatted,on='Date')

### Adding case/death data for two weeks after original tweet

In [10]:
#Getting date two weeks from now for Covid case/death reaction to Tweets
from datetime import datetime,timedelta

N = 14
days_N_from_now = All_Covid_tweets['Date'] + timedelta(days=N)

All_Covid_tweets_case_data['14 days'] = (All_Covid_tweets_case_data['Date'] + timedelta(days=N))
Trump_Covid_tweets_case_data['14 days'] = (Trump_Covid_tweets_case_data['Date'] + timedelta(days=N))
Cuomo_Covid_tweets_case_data['14 days'] = (Cuomo_Covid_tweets_case_data['Date'] +timedelta(days=N))
Baseline_tweets_case_data['14 days'] = (Baseline_tweets_case_data['Date'] + timedelta(days=N))

In [11]:
covid_data_two_week = pd.read_excel('covid_data_14days.xlsx')
covid_data_two_week.head()

   14 days  Cases  Deaths
0  1/22/20      1       0
1  1/23/20      1       0
2  1/24/20      2       0
3  1/25/20      2       0
4  1/26/20      5       0

In [12]:
#Converting all Date columns to datetime for Merge
covid_data_two_week['14 days'] = pd.to_datetime(covid_data_two_week['14 days'])
All_Covid_tweets_case_data['14 days'] = pd.to_datetime(All_Covid_tweets_case_data['14 days'])
Trump_Covid_tweets_case_data['14 days'] = pd.to_datetime(Trump_Covid_tweets_case_data['14 days'])
Cuomo_Covid_tweets_case_data['14 days'] = pd.to_datetime(Cuomo_Covid_tweets_case_data['14 days'])
Baseline_tweets_case_data['14 days'] = pd.to_datetime(Baseline_tweets_case_data['14 days'])

In [13]:
#All Tweet Data with corresponding case/death information
All_Covid_tweets_case_data = pd.merge(All_Covid_tweets_case_data,covid_data_two_week,on='14 days')
#Trump Tweet Data with corresponding case/death information
Trump_Covid_tweets_case_data = pd.merge(Trump_Covid_tweets_case_data,covid_data_two_week,on='14 days')
#Cuomo Tweet Data with corresponding case/death information
Cuomo_Covid_tweets_case_data = pd.merge(Cuomo_Covid_tweets_case_data,covid_data_two_week, on='14 days')
#Baseline Tweet Data with corresponding case/death information
Baseline_tweets_case_data = pd.merge(Baseline_tweets_case_data,covid_data_two_week,on='14 days')

### Adding Case/Death Data for four weeks after original tweet

In [14]:
covid_data_four_week = pd.read_excel('covid_data_28days.xlsx')
covid_data_four_week.head()

   28 days  Cases  Deaths
0  1/22/20      1       0
1  1/23/20      1       0
2  1/24/20      2       0
3  1/25/20      2       0
4  1/26/20      5       0

### Getting Dates and COVID Data for two weeks after Tweet

In [15]:
#Getting date two weeks from now for Covid case/death reaction to Tweets
from datetime import datetime,timedelta

N = 28
days_N_from_now = All_Covid_tweets['Date'] + timedelta(days=N)

All_Covid_tweets_case_data['28 days'] = (All_Covid_tweets_case_data['Date'] + timedelta(days=N))
Trump_Covid_tweets_case_data['28 days'] = (Trump_Covid_tweets_case_data['Date'] + timedelta(days=N))
Cuomo_Covid_tweets_case_data['28 days'] = (Cuomo_Covid_tweets_case_data['Date'] +timedelta(days=N))
Baseline_tweets_case_data['28 days'] = (Baseline_tweets_case_data['Date'] + timedelta(days=N))

In [16]:
#Converting all Date columns to datetime for Merge
covid_data_four_week['28 days'] = pd.to_datetime(covid_data_four_week['28 days'])
All_Covid_tweets_case_data['28 days'] = pd.to_datetime(All_Covid_tweets_case_data['28 days'])
Trump_Covid_tweets_case_data['28 days'] = pd.to_datetime(Trump_Covid_tweets_case_data['28 days'])
Cuomo_Covid_tweets_case_data['28 days'] = pd.to_datetime(Cuomo_Covid_tweets_case_data['28 days'])
Baseline_tweets_case_data['28 days'] = pd.to_datetime(Baseline_tweets_case_data['28 days'])

In [17]:
#All Tweet Data with corresponding case/death information
All_Covid_tweets_case_data = pd.merge(All_Covid_tweets_case_data,covid_data_four_week,on='28 days')
#Trump Tweet Data with corresponding case/death information
Trump_Covid_tweets_case_data = pd.merge(Trump_Covid_tweets_case_data,covid_data_four_week,on='28 days')
#Cuomo Tweet Data with corresponding case/death information
Cuomo_Covid_tweets_case_data = pd.merge(Cuomo_Covid_tweets_case_data,covid_data_four_week, on='28 days')
#Baseline Tweet Data with corresponding case/death information
Baseline_tweets_case_data = pd.merge(Baseline_tweets_case_data,covid_data_four_week,on='28 days')

In [18]:
Baseline_tweets_case_data.head()

,cashtags,conversation_id,created_at,date,geo,hashtags,id,likes_count,link,mentions,...,video,Date,Cases_x,Deaths_x,14 days,Cases_y,Deaths_y,28 days,Cases,Deaths
0,[],1270707306578264064,2020-06-10 13:20:05,2020-06-10,,[],1270707306578264065,209,https://twitter.com/nytimes/status/12707073065...,[],...,0,2020-06-10,2000702,113631,2020-06-24,2382426,122604,2020-07-08,3054699,132300
1,[],1270636833555308544,2020-06-10 08:40:03,2020-06-10,,[],1270636833555308544,857,https://twitter.com/nytimes/status/12706368335...,[],...,0,2020-06-10,2000702,113631,2020-06-24,2382426,122604,2020-07-08,3054699,132300
2,[],1270815442173603840,2020-06-10 20:29:46,2020-06-10,,[],1270815442173603841,159,https://twitter.com/washingtonpost/status/1270...,[],...,0,2020-06-10,2000702,113631,2020-06-24,2382426,122604,2020-07-08,3054699,132300
3,[],1270541216308957184,2020-06-10 02:20:06,2020-06-09,,[],1270541216308957184,382,https://twitter.com/nytimes/status/12705412163...,[nytmag],...,0,2020-06-09,1979908,112714,2020-06-23,2347491,121847,2020-07-07,2996098,131480
4,[],1270470755889840128,2020-06-09 21:40:07,2020-06-09,,[],1270470755889840134,404,https://twitter.com/nytimes/status/12704707558...,[nytmag],...,0,2020-06-09,1979908,112714,2020-06-23,2347491,121847,2020-07-07,2996098,131480

### Combined Tweet DataFrame

In [19]:
#Tweet dataframes combined

Master_Tweet_df = pd.concat([All_Covid_tweets_case_data,Trump_Covid_tweets_case_data,Cuomo_Covid_tweets_case_data,Baseline_tweets_case_data])

### Organizing US State Data from NYTimes

The NYTimes manages a github repo that tracks state by state COVID Data. This data can be useful later in the analysis when we track how certain localities have fared dealing with the COVID pandemic. Tracking state COVID details will allow for examination of whether states that are classified as subscribing to the tenets of the Trump administrtion respond better/worse than states that might align more with the politics of NY governor Andrew Cuomo.

In [20]:
#reading in data from CSV
state_case_df = pd.read_csv('us-states.csv')

#Groupby to get states by state
state_case_df.groupby('state')

state_case_df = state_case_df.sort_values(['state','date'],ascending=[True,True])
#state_case_df = state_case_df.sort_values('date',ascending=True)
state_case_df.reset_index(drop=True,inplace=True)
#state_case_df = state_case_df.sort_values('date',ascending=True)
#state_case_df.head(50)

### SCRUBBING OF TWEETS

In [21]:
#Tweet scrubbing I used for Mod 4 project
import re
from string import punctuation
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
tweets = Master_Tweet_df['tweet']
corpus = []
twitter_list = ['mention','rt','link','sxsw','quot','downtown','austin']
stopword_list = stopwords.words('english')
stopword_list = stopword_list + twitter_list
for tweet in tweets:
    tweet = re.sub('[^a-zA-Z]', ' ', tweet)
    tweet = tweet.join([c for c in tweet if c not in punctuation])
    tweet = tweet.lower()
    tweet = tweet.split()
    ps = PorterStemmer()
    tweet = [word for word in tweet if not word in stopword_list]
    tweet = ' '.join(tweet)
    corpus.append(tweet)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jamaalsmith/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
#additional scrubbing with assistance of preprocessor library
from gensim.parsing.preprocessing import remove_stopwords
from gensim.parsing.preprocessing import preprocess_documents
import preprocessor as p
p.set_options(p.OPT.URL, p.OPT.EMOJI, p.OPT.RESERVED, p.OPT.SMILEY, p.OPT.MENTION, p.OPT.HASHTAG, p.OPT.NUMBER)

#Using preprocessor library to scrub tweets
tweets = corpus

clean_tweets = []
for tweet in tweets:
  clean = p.clean(tweet)
  clean_tweets.append(clean)

Master_Tweet_df['clean_tweets'] = clean_tweets

#tweets = Master_Tweet_df['clean_tweets']

#clean_tweets_stopwords_punc_lowercase = []

#for tweet in tweets:
 #   clean = remove_stopwords(tweet)
 #   clean_tweets_stopwords_punc_lowercase.append(clean)

#Master_Tweet_df['clean_tweets'] = clean_tweets_stopwords_punc_lowercase
    
#Removing white spaces, punctuation and apply lowercasing
#Master_Tweet_df['clean_tweets'] = Master_Tweet_df['clean_tweets'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')
#tweets = Master_Tweet_df['clean_tweets']

In [23]:
Master_Tweet_df['clean_tweets'].head()

0    ttwo united states leading news sources time u...
1    ttwo united states leading news sources time u...
2    unless u physician nurse surgical room busines...
3    tthe reality andy beshear create covid spread ...
4    iin large countries united states russia brazi...
Name: clean_tweets, dtype: object

In [24]:
#tweets

In [25]:
#Removing stopwords and punctuation

#Tweet Tokenizer 
from nltk.tokenize import TweetTokenizer
ttknz = TweetTokenizer()

#creation of the corpus
corpus = Master_Tweet_df['clean_tweets'].astype(str)
corpus.dtypes

#tokenizing corpus
tok_corp = []
for sent in corpus:
    toked = ttknz.tokenize(sent)
    tok_corp.append(toked)

In [26]:
from nltk.corpus import stopwords 
#from nltk.tokenize import word_tokenize 
  
#example_sent = "This is a sample sentence, showing off the stop words filtration."
  
#stop_words = (stopwords.words('english'))
  
#word_tokens = (tok_corp) 
  
#filtered_sentence = [token for token in word_tokens if not w in stop_words] 
  
#filtered_sentence = [] 
  
#for token in word_tokens: 
 #   if token not in stop_words: 
  #      filtered_sentence.append(w)

In [27]:
#filtered_sentence

In [28]:
#Sentiment Analysis - utilize NTLK because it is better
from textblob import TextBlob
from textblob.sentiments import PatternAnalyzer, NaiveBayesAnalyzer

tweets = Master_Tweet_df['clean_tweets']

Sentiment = []
for tweet in tweets:
  blob = TextBlob(tweet,analyzer=PatternAnalyzer())
  rating = blob.sentiment
  Sentiment.append(rating)

Master_Tweet_df['Sentiment'] = Sentiment
#Master_Tweet_df['Sentiment'] = Master_Tweet_df['Sentiment'].astype(int)
#Master_Tweet_df['Sentiment'].round(decimals = 4)

#Master_Tweet_df['Sentiment'].head()

In [29]:
#Master_Tweet_df['clean_tweets']

In [30]:
#DataFrame with less metadata and additional details on COVID case data after tweet date
Sentiment_Tweet_df = Master_Tweet_df[['created_at','date','username','likes_count','retweet_date','clean_tweets','Cases_x','Deaths_x','14 days','Cases_y','Deaths_y','28 days','Cases','Deaths','Sentiment']]

In [31]:
#Renaming case and death columns to reflect timeframes from tweet more transpaently
Sentiment_Tweet_df.rename(columns={'Cases_Tweet':'Cases_x','Deaths_x':'Deaths_Tweet','Cases_y':'Cases_14','Deaths_y':'Deaths_14','Cases':'Cases_48','Deaths':'Deaths_48'})

,created_at,date,username,likes_count,retweet_date,clean_tweets,Cases_x,Deaths_Tweet,14 days,Cases_14,Deaths_14,28 days,Cases_48,Deaths_48,Sentiment
0,2020-05-27 01:57:20,2020-05-26,whitewindlandon,0,,ttwo united states leading news sources time u...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
1,2020-05-27 01:57:20,2020-05-26,whitewindlandon,0,,ttwo united states leading news sources time u...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
2,2020-05-26 23:18:19,2020-05-26,rescon1,0,,unless u physician nurse surgical room busines...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
3,2020-05-26 23:00:14,2020-05-26,nealhead,0,,tthe reality andy beshear create covid spread ...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.3458333333333324)"
4,2020-05-26 22:34:09,2020-05-26,6121el,1,,iin large countries united states russia brazi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.026984126984127076, 0.36507936507936345)"
5,2020-05-26 22:22:16,2020-05-26,roswell32,0,,rright good look president united states leadi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.23668098818474678, 0.6895005370569313)"
6,2020-05-26 21:57:10,2020-05-26,gary_lyman,13,,uunited states officially surpassed grim miles...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.332727272727271, 0.6409090909090938)"
7,2020-05-26 21:13:57,2020-05-26,oldnavy1968,0,,tthe united states confirmed covid cases next ...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.10000000000000034, 0.375)"
8,2020-05-26 20:45:24,2020-05-26,dablazinjr,0,,tthe average age deceased covid positive patie...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.09242424242424296, 0.38181818181817945)"
9,2020-05-26 18:15:33,2020-05-26,smartpe53402672,0,,yyou stupidest people get paid stupidity one c...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.5666666666666745, 0.7666666666666659)"
10,2020-05-26 16:32:14,2020-05-26,craving_filled,1,,hhow come south korea united states saw first ...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.27500000000000013, 0.666666666666665)"
11,2020-05-26 12:45:53,2020-05-26,hsquared_studio,0,,ssays said united states one fifteen covid cas...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.5999999999999965, 0.5999999999999965)"
12,2020-05-26 12:41:10,2020-05-26,jimmyfalco2,0,,ii making political studies shown hcq effectiv...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.17499999999999838, 0.5000000000000066)"
13,2020-05-26 12:28:42,2020-05-26,ralfstein3,0,,wwhile united states still puzzling whether ma...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
14,2020-05-26 12:00:19,2020-05-26,crawfordstuff,2,,iit likely today reach deaths united states co...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.25, 0.75)"
15,2020-05-26 10:54:19,2020-05-26,sallybeatty6,1,,aand guy running world health organization wan...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.20000000000000082, 0.10000000000000041)"
16,2020-05-26 10:54:05,2020-05-26,outbreaksci,1,,ccontribute rapid review request one geographi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
17,2020-05-26 06:58:42,2020-05-26,natsumugikezine,0,,japan part regions tokyo osaka accepts ems del...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.041666666666666664, 0.375)"
18,2020-05-26 04:06:33,2020-05-26,wadetheleopard,2,,llet assume worst moment covid hits time worst...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.17499999999999963, 0.8125)"
19,2020-05-26 23:18:19,2020-05-26,rescon1,0,,unless u physician nurse surgical room busines...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
20,2020-05-26 22:22:16,2020-05-26,roswell32,0,,rright good look president united states leadi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.23668098818474678, 0.6895005370569313)"
21,2020-05-26 18:15:33,2020-05-26,smartpe53402672,0,,yyou stupidest people get paid stupidity one c...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.5666666666666745, 0.7666666666666659)"
22,2020-05-27 03:27:48,2020-05-26,parkerrobertda1,0,,wwell covid people still behaving badly newyor...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.549999999999997, 0.6333333333333361)"
23,2020-05-27 02:23:48,2020-05-26,gregggraison,1,,hhow people ignorant rude nasty knowing fact m...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.20571428571428674, 0.5057142857142859)"
24,2020-05-27 02:01:55,2020-05-26,dianepaul,1,,ii heartbroken america much racism much exploi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.010714285714285796, 0.3559523809523809)"
25,2020-05-27 01:58:29,2020-05-26,art_muela,0,,ii understand people biased towards russia bai...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.625, 1.0)"
26,2020-05-27 01:05:41,2020-05-26,jfdorville,0,,en covid tcgnrg map despite confirmed covid ca...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.07142857142857163, 0.9523809523809527)"
27,2020-05-26 23:44:03,2020-05-26,thesteveholzer,5,,sspent today joebiden talked covid response la...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.06372141372141397, 0.26891891891891906)"
28,2020-05-26 23:32:53,2020-05-26,b1louder,0,,ddo desert navajonation america covid times an...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.3499999999999986, 0.6500000000000034)"
29,2020-05-26 23:18:19,2020-05-26,rescon1,0,,unless u physician nurse surgical room busines...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,2020-03-19 10:28:18,2020-03-19,washingtonpost,1431,,get corona get corona miami spring breakers sa...,14157,265,2020-04-02,244610,8432,2020-04-16,669272,35442,"(0.0, 0.0)"
554,2020-03-18 17:21:07,2020-03-18,washingtonpost,212,,hhow world political artists depicting covid p...,8917,188,2020-04-01,214205,6846,2020-04-15,637974,33329,"(0.0, 0.09999999999999981)"
555,2020-03-17 03:25:59,2020-03-16,washingtonpost,183,,oopinion life time covid totally unprecedented...,4360,97,2020-03-30,162707,4381,2020-04-13,581813,28376,"(0.600000000000001, 0.9000000000000001)"
556,2020-03-16 17:51:04,2020-03-16,washingtonpost,525,,aadditionally scientists still know sure survi...,4360,97,2020-03-30,162707,4381,2020-04-13,581813,28376,"(0.08333333333333465, 0.41481481481481497)"
557,2020-03-16 17:44:10,2020-03-16,washingtonpost,189,,iit depends unknown characteristics virus expr...,4360,97,2020-03-30,162707,4381,2020-04-13,581813,28376,"(-0.08596491228070205, 0.5943859649122778)"
558,2020-03-16 15:22:37,2020-03-16,washingtonpost,133,,oone last party one last dance goodbye college...,4360,97,2020-03-30,162707,4381,2020-04-13,581813,28376,"(0.0, 0.06666666666666651)"
559,2020-03-16 14:07:56,2020-03-16,washingtonpost,213,,nnursing home biggest cluster covid deaths dat...,4360,97,2020-03-30,162707,4381,2020-04-13,581813,28376,"(0.0, 0.0)"
560,2020-03-15 20:11:01,2020-03-15,washingtonpost,166,,oone last party one last dance goodbye college...,2968,70,2020-03-29,141205,3561,2020-04-12,556522,26548,"(0.0, 0.06666666666666651)"
561,2020-03-15 14:53:50,2020-03-15,washingtonpost,89,,ffederal vaccine development sites ill suited ...,2968,70,2020-03-29,141205,3561,2020-04-12,556522,26548,"(-0.5, 1.0)"
562,2020-03-13 17:45:06,2020-03-13,washingtonpost,294,,aanalysis u may already recession could linger...,2157,52,2020-03-27,102276,2300,2020-04-10,497943,22731,"(0.0, 0.0)"
563,2020-03-13 15:09:02,2020-03-13,washingtonpost,221,,ffive states c order schools closed effort pre...,2157,52,2020-03-27,102276,2300,2020-04-10,497943,22731,"(-0.0999999999999998, 0.0999999999999998)"
564,2020-03-13 15:03:03,2020-03-13,washingtonpost,1254,,tthe number covid cases c region doubling ever...,2157,52,2020-03-27,102276,2300,2020-04-10,497943,22731,"(0.0, 0.0)"
565,2020-03-12 23:31:03,2020-03-12,washingtonpost,153,,oopinion quarantining cities needed fast coord...,1561,43,2020-03-26,84091,1746,2020-04-09,464442,20638,"(0.06666666666666675, 0.2999999999999996)"
566,2020-03-12 15:41:45,2020-03-12,washingtonpost,384,,done absolutely done test test care doctor sai...,1561,43,2020-03-26,84091,1746,2020-04-09,464442,20638,"(0.09999999999999987, 0.9499999999999991)"
567,2020-03-12 14:49:37,2020-03-12,washingtonpost,112,,cconfusion helped speed spread coronavirus nea...,1561,43,2020-03-26,84091,1746,2020-04-09,464442,20638,"(0.024999999999999783, 0.4000000000000037)"
568,2020-03-12 11:07:32,2020-03-12,washingtonpost,616,,ccoronavirus arrives capitol hill first senate...,1561,43,2020-03-26,84091,1746,2020-04-09,464442,20638,"(0.25, 0.3333333333333331)"
569,2020-03-12 03:28:04,2020-03-11,washingtonpost,195,,oopinion useful covid testing need think outsi...,1109,33,2020-03-25,66055,1333,2020-04-08,429686,18563,"(0.10000000000000007, 0.033333333333333416)"
570,2020-03-11 17:55:35,2020-03-11,washingtonpost,308,,wwho declares pandemic coronavirus disease cov...,1109,33,2020-03-25,66055,1333,2020-04-08,429686,18563,"(0.0, 0.0)"
571,2020-03-09 17:10:35,2020-03-09,washingtonpost,257,,ffda ftc crack companies selling products clai...,519,22,2020-03-23,43850,784,2020-04-06,367215,14138,"(0.0, 0.0)"
572,2020-03-09 15:12:56,2020-03-09,washingtonpost,205,,pprinceton requires lectures seminars go onlin...,519,22,2020-03-23,43850,784,2020-04-06,367215,14138,"(0.0, 0.0)"
573,2020-03-06 20:10:03,2020-03-06,washingtonpost,654,,uuniversity washington switches virtual classe...,222,14,2020-03-20,19479,362,2020-04-03,276547,9747,"(0.22727272727272682, 0.5454545454545463)"
574,2020-03-05 16:44:03,2020-03-05,washingtonpost,122,,aa dog low level coronavirus infection panic c...,174,12,2020-03-19,14157,265,2020-04-02,244610,8432,"(0.0, 0.3)"
575,2020-03-05 15:54:01,2020-03-05,washingtonpost,93,,ttwo people hospitalized covid new york city l...,174,12,2020-03-19,14157,265,2020-04-02,244610,8432,"(0.1363636363636366, 0.4772727272727268)"
576,2020-03-05 13:52:03,2020-03-05,washingtonpost,140,,ssouth africa confirms first covid case southe...,174,12,2020-03-19,14157,265,2020-04-02,244610,8432,"(0.08333333333333333, 0.11111111111111095)"
577,2020-03-02 22:17:51,2020-03-02,washingtonpost,92,,ccovid spreads easily sars similar coronavirus...,53,6,2020-03-16,4360,97,2020-03-30,162707,4381,"(0.054444444444444115, 0.6122222222222171)"
578,2020-03-02 22:13:28,2020-03-02,washingtonpost,100,,ppublic health officials say novel coronavirus...,53,6,2020-03-16,4360,97,2020-03-30,162707,4381,"(-0.1767295597484272, 0.27458379578246545)"
579,2020-03-02 22:04:54,2020-03-02,washingtonpost,628,,wwhat began wholesale food market central chin...,53,6,2020-03-16,4360,97,2020-03-30,162707,4381,"(0.03333333333333347, 0.4166666666666667)"
580,2020-02-29 21:01:04,2020-02-29,washingtonpost,169,,ccovid patient died washington hospital coming...,24,1,2020-03-14,2870,58,2020-03-28,122069,2934,"(-0.33333333333333337, 0.6666666666666667)"
581,2020-02-24 17:26:12,2020-02-24,washingtonpost,75,,aanalysis china early warning system work covi...,15,0,2020-03-09,519,22,2020-03-23,43850,784,"(0.0999999999999998, 0.3000000000000005)"
582,2020-02-20 01:37:02,2020-02-19,washingtonpost,88,,hhow epidemics like covid end end faster https...,13,0,2020-03-04,104,11,2020-03-18,8917,188,"(0.0, 0.0)"

In [32]:
Sentiment_Tweet_df.columns

Index(['created_at', 'date', 'username', 'likes_count', 'retweet_date',
       'clean_tweets', 'Cases_x', 'Deaths_x', '14 days', 'Cases_y', 'Deaths_y',
       '28 days', 'Cases', 'Deaths', 'Sentiment'],
      dtype='object')

In [33]:
# adding columns for Case & Death growth rates

#Sentiment_Tweet_df.columns


#Growth rate for case and death for tweet date to 48 days
Sentiment_Tweet_df['Total Case Growth'] = (Sentiment_Tweet_df['Cases']-Sentiment_Tweet_df['Cases_x'])/Sentiment_Tweet_df['Cases_x']
Sentiment_Tweet_df['Total Death Growth'] = (Sentiment_Tweet_df['Deaths']-Sentiment_Tweet_df['Deaths_x'])/Sentiment_Tweet_df['Deaths_y']

#Lethality measure: how many deaths as proportion of cases
Sentiment_Tweet_df['Lethality_48'] = (Sentiment_Tweet_df['Deaths']/Sentiment_Tweet_df['Cases'])
Sentiment_Tweet_df['Lethality_14'] = (Sentiment_Tweet_df['Deaths_y']/Sentiment_Tweet_df['Cases_y'])
Sentiment_Tweet_df['Lethality_dayof'] = (Sentiment_Tweet_df['Deaths_x']/Sentiment_Tweet_df['Cases_x'])

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

### Feature Engineering

In [34]:
#Sorting Dataframe by date
Sentiment_Tweet_df.sort_values(by= 'date', ascending=True)
Sentiment_Tweet_df = Sentiment_Tweet_df.round(decimals=3)
Sentiment_Tweet_df.head(10)

,created_at,date,username,likes_count,retweet_date,clean_tweets,Cases_x,Deaths_x,14 days,Cases_y,Deaths_y,28 days,Cases,Deaths,Sentiment,Total Case Growth,Total Death Growth,Lethality_48,Lethality_14,Lethality_dayof
0,2020-05-27 01:57:20,2020-05-26,whitewindlandon,0,,ttwo united states leading news sources time u...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)",0.39,0.194,0.052,0.057,0.059
1,2020-05-27 01:57:20,2020-05-26,whitewindlandon,0,,ttwo united states leading news sources time u...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)",0.39,0.194,0.052,0.057,0.059
2,2020-05-26 23:18:19,2020-05-26,rescon1,0,,unless u physician nurse surgical room busines...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.0)",0.39,0.194,0.052,0.057,0.059
3,2020-05-26 23:00:14,2020-05-26,nealhead,0,,tthe reality andy beshear create covid spread ...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.0, 0.3458333333333324)",0.39,0.194,0.052,0.057,0.059
4,2020-05-26 22:34:09,2020-05-26,6121el,1,,iin large countries united states russia brazi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.026984126984127076, 0.36507936507936345)",0.39,0.194,0.052,0.057,0.059
5,2020-05-26 22:22:16,2020-05-26,roswell32,0,,rright good look president united states leadi...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.23668098818474678, 0.6895005370569313)",0.39,0.194,0.052,0.057,0.059
6,2020-05-26 21:57:10,2020-05-26,gary_lyman,13,,uunited states officially surpassed grim miles...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.332727272727271, 0.6409090909090938)",0.39,0.194,0.052,0.057,0.059
7,2020-05-26 21:13:57,2020-05-26,oldnavy1968,0,,tthe united states confirmed covid cases next ...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.10000000000000034, 0.375)",0.39,0.194,0.052,0.057,0.059
8,2020-05-26 20:45:24,2020-05-26,dablazinjr,0,,tthe average age deceased covid positive patie...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(0.09242424242424296, 0.38181818181817945)",0.39,0.194,0.052,0.057,0.059
9,2020-05-26 18:15:33,2020-05-26,smartpe53402672,0,,yyou stupidest people get paid stupidity one c...,1689162,99952,2020-06-09,1979908,112714,2020-06-23,2347491,121847,"(-0.5666666666666745, 0.7666666666666659)",0.39,0.194,0.052,0.057,0.059

## Exploratory Data Analysis

### Word2Vec Model Creation

In [35]:
#Libraries
import nltk
import gensim
from gensim import corpora, models, similarities
from gensim.models import word2vec

In [ ]:
#Tweet Tokenizer 
from nltk.tokenize import TweetTokenizer
ttknz = TweetTokenizer()

#creation of the corpus
corpus = Sentiment_Tweet_df['clean_tweets'].astype(str)
corpus.dtypes

#tokenizing corpus
tok_corp = []
for sent in corpus:
    toked = ttknz.tokenize(sent)
    tok_corp.append(toked)

#tok_corp = [nltk.word_tokenize(sent.decod('utf-8')) for sent in corpus]

#Word2Vec model with Skip-Gram
Covidtweet_model = gensim.models.Word2Vec(tok_corp, sg=1,min_count=1)

#Saving model
#model.save('Covidtweet_model')

In [ ]:
Covidtweet_model.most_similar('france')

In [ ]:
#TSNE plot of Word2Vec
import sys
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def tsne_plot(model):
    "Creates and TSNE model and plots it. This function was originally found on Kaggle"
    labels = []
    tokens = []

    for word in model.wv.vocab:
        tokens.append(model[word])
        labels.append(word)

    tsne_model = TSNE(perplexity=50, n_components=3, init='pca', n_iter=2500, random_state=23)
    new_values = tsne_model.fit_transform(tokens)

    x = []
    y = []
    for value in new_values:
        x.append(value[0])
        y.append(value[1])

    plt.figure(figsize=(16, 16))
    for i in range(len(x)):
        plt.scatter(x[i],y[i])
        plt.annotate(labels[i],
                     xy=(x[i], y[i]),
                     xytext=(5, 2),
                     textcoords='offset points',
                     ha='right',
                     va='bottom')
    plt.show()

In [ ]:
Covidtweet_selective_model = word2vec.Word2Vec(tok_corp, size=100, window=25, min_count=125, workers=4)

In [ ]:
tsne_plot(Covidtweet_selective_model)

In [ ]:
def display_closestwords_tsnescatterplot(model, word, size):
    
    arr = np.empty((0,size), dtype='f')
    word_labels = [word]
    close_words = model.similar_by_word(word)
    arr = np.append(arr, np.array([model[word]]), axis=0)
    for wrd_score in close_words:
        wrd_vector = model[wrd_score[0]]
        word_labels.append(wrd_score[0])
        arr = np.append(arr, np.array([wrd_vector]), axis=0)
        
    tsne = TSNE(n_components=3, random_state=0)
    np.set_printoptions(suppress=True)
    Y = tsne.fit_transform(arr)
    x_coords = Y[:, 0]
    y_coords = Y[:, 1]
    plt.scatter(x_coords, y_coords)
    for label, x, y in zip(word_labels, x_coords, y_coords):
        plt.annotate(label, xy=(x, y), xytext=(0, 0), textcoords='offset points')
        plt.xlim(x_coords.min()+0.00005, x_coords.max()+0.00005)
        plt.ylim(y_coords.min()+0.00005, y_coords.max()+0.00005)
    plt.show()

In [ ]:
display_closestwords_tsnescatterplot(Covidtweet_selective_model,'virus',100)

### Latent Dirichlet Allocation

In [ ]:
from gensim.models import LdaModel
from gensim.corpora.dictionary import Dictionary

common_dictionary = Dictionary(tok_corp)
common_corpus = [common_dictionary.doc2bow(text) for text in tok_corp]

lda = LdaModel(common_corpus, num_topics=20, alpha='auto', eval_every=5)

In [ ]:
from gensim import corpora, models

list_of_list_of_tokens = list(tok_corp)
dictionary_LDA = corpora.Dictionary(list_of_list_of_tokens)
dictionary_LDA.filter_extremes(no_below=3)
corpus = [dictionary_LDA.doc2bow(list_of_tokens) for list_of_tokens in list_of_list_of_tokens]

num_topics = 20
%time lda_model = models.LdaModel(corpus, num_topics=num_topics, \
                                  id2word=dictionary_LDA, \
                                  passes=4, alpha=[0.01]*num_topics, \
                                  eta=[0.01]*len(dictionary_LDA.keys()))

In [ ]:
num_topics = 10
for i,topic in lda_model.show_topics(formatted=True, num_topics=num_topics, num_words=10):
    print(str(i)+": "+ topic)
    print()

In [ ]:
pip install pyLDAvis

In [ ]:
%matplotlib inline
import pyLDAvis
import pyLDAvis.gensim
vis = pyLDAvis.gensim.prepare(topic_model=lda_model, corpus=corpus, dictionary=dictionary_LDA)
pyLDAvis.enable_notebook()
pyLDAvis.display(vis)